<div class="container mt-4 ">
    <div class="row ms-5">
        <div class="card border border-2 border-primary bg-warning" style="width: 22rem; border-radius: 30px;">
            <div class="card-body">
                <p style="text-transform: uppercase;" class="card-text"><b>Name: </b>{{data.studName}}</p>
                <P class="card-text"><b>Email: </b>{{data.studEmail}}</P>
                <p class="card-text"><b>Address: </b>{{data.studAddress}}</p>
                <p class="card-text"><b>PhoneNo: </b>{{data.studPhoneNo}}</p>
            </div>
        </div>
    </div>
</div>