<div class="container-fluid" style="width: 100%;">
    <div class="row">
        <app-navbar class="px-0"></app-navbar>
    </div>
</div>
<!-- <div>
    <ul style="padding-left: 10px;">
        <li><a routerLink="/home"><b>Home</b></a></li>
        <li><a routerLink="/library"><b>Librarians</b></a></li>
        <li><a routerLink="/student"><b>Students</b></a></li>
        <li><a routerLink="/issue"><b>Issues</b></a></li>
        <li><a routerLink="/book"><b>Books</b></a></li>
        <form style="padding-left: 850px; text-align: center; padding-top: 4px ; padding-right: 2px;" class="d-flex">
            <input type="search" placeholder="Search" class="form-control">
            <input type="button" value="search" class="btn btn-primary">
        </form>
    </ul>
</div> -->


<router-outlet></router-outlet>