<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://tse1.explicit.bing.net/th?id=OIP.wvTEa2WRAeXMvxxAjtsTxwHaB_&pid=Api&P=0&h=180"
                style="width: 150px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-0">
                <li class="nav-item">
                    <a style="color: black;" class="nav-link active" aria-current="page"
                        routerLink="/home"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a style="color: black;" class="nav-link" routerLink="/library"><b>Librarians</b></a>
                </li>
                <li class="nav-item">
                    <a style="color: black;" class="nav-link" routerLink="/student"><b>Students</b></a>
                </li>
                <li class="nav-item">
                    <a style="color: black;" class="nav-link" routerLink="/issue"><b>Issues</b></a>
                </li>
                <li class="nav-item">
                    <a style="color: black;" class="nav-link" routerLink="/book"><b>Books</b></a>
                </li>
                <form class="d-flex">
                    <input type="text" placeholder="Search here" class="form-control">
                    <input style="border: 2px solid black;" type="button" value="search" class="btn btn-secondary">
                </form>
            </ul>
        </div>
        <button style="border-radius: 17px; padding-top: 7px; padding-bottom: 7px; border: 2px solid rgb(129, 41, 217); background-color:gold " type="button"
            class="btn position-relative">
            Sign Up
            <span
                class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                <span class="visually-hidden"></span>
            </span>
        </button>
        <button style="margin-left: 20px;" type="button" class="icon-button">
            <span class="material-icons">New
            </span>
            <span class="icon-button__badge">2</span>
        </button>
    </div>
</nav>